<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Read(All)</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'application/css/bootstrap.min.css' %}">
</head>
<body>
<div class="container mt-5">
    <div class="h2 mb-5">All Shows</div>
    <table class="table table-striped mb-5">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Title
            <th scope="col">Network</th>
            <th scope="col">Release Date</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for show in all_shows %}
            <tr>
                <td>{{ show.id }}</td>
                <td>{{ show.title }}</td>
                <td>{{ show.network }} </td>
                <td>{{ show.release_date |date:"M d, Y" }}</td>
                <td><a href="/shows/{{ show.id }}">Show</a> | <a href="/shows/{{ show.id }}/edit">Edit</a> | <a
                        href="/shows/{{ show.id }}/destroy">Delete</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="new">Add a New Show</a>
</div>

</body>
</html>